
template bgp net_default_external {
  table net_default;
  path metric 1;
  import keep filtered;
  import limit 10000;

  import where filter_generic(
	F_IMPORT,		# 1 = import, 2 = export
	[ALLOW_FOREIGN,F_OVR_BGP_ORIGIN],
	...
  );
  
  export where filter_generic(
	F_EXPORT,		# 1 = import, 2 = export
	[ALLOW_LOCAL,ALLOW_GLOBAL,F_OVR_BGP_ORIGIN],
	...
  );

}
